{% extends 'base_bio.html' %}

{% block content %}
{{ super() }}

<div class="content-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h4 class="d-inline">Группы отчетов</h4>
                <p class="text-muted">Внутри содержатся отчеты</p>
                <div class="row">
                    {% for item in dict_card %}
                    <div class="col-md-4 col-lg-2">
                        <div class="card">
                            <div class="card-header bg-white">
                                <h5 class="card-title">{{item.title_card}}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{item.discr_card}}</h6>
                            </div>
                            <img class="img-fluid" src="{{url_for('static', filename=item.img_path)}}" alt="">

                            <div class="card-footer">
                                <a href="{{url_for('sampling_form', alias=item.url)}}" class="card-link float-right">
                                    <button type="button" class="btn mb-1 btn-primary btn-primary">Перейти</button>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
